<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <title>SignUp/SimpleChat</title>
</head>
<body>
	<header>
		
	</header>
	
    <h1>Sign up for SimpleChat</h1>

    <form method="post" action="/signup" enctype="multipart/form-data" th:object="${signupForm}">
        <table>
            <tr>
                <td>
                    <label>Name</label>
                </td>

                <td>
                    <input type="text" required th:field="*{name}">
                </td>
            </tr>

            <tr>
                <td>
                    <label>Email Address</label>
                </td>

                <td>
                    <input type="email" required th:field="*{mailAddress}">
                </td>
            </tr>

            <tr>
                <td>
                    <label>Password</label>
                </td>

                <td>
                    <input type="password" required th:field="*{password}">
                </td>
            </tr>

            <tr>
                <td>
                    <label>Icon</label>
                </td>

                <td>
                    <input type="file" required th:field="*{icon}">
                </td>
            </tr>

            <tr>
                <td>
                </td>

                <td>
                    <button type="submit">
                        Sign up
                    </button>
                </td>
            </tr>
        </table>
        <!-- <div class="form-content">
            <label>Name</label>
            <input type="text" required>
        </div>

        <div class="form-content">
            <label>Email Address</label>
            <input type="email" required>
        </div>

        <div class="form-content">
            <label>Password</label>
            <input type="password" required>
        </div>

        <div class="form-content">
            <label>Icon</label>
            <input type="file" required>
        </div>

        <div class="form-content">
            <button type="submit">
                Sign up
            </button>
        </div> -->
    </form>
</body>
</html>